@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
  }
  
  div {
    font-family: myFirstFont;
  }

:root {
    --bg-color: #515151;

    --link-color: #ffffff;
    --link-hover-color: #cccccc;
    --link-active-color: #aaaaaa;
}

* { 
    font-family: 'Poppins';
    color: #ffffff;
}

a, a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-hover-color)
}

i {
    text-decoration: none;
    color: var(--link-color);
}

i:hover {
    text-decoration: none;
    color: var(--link-hover-color)
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
}






.background {
    background: var(--bg-color);
}

.links-container {
    padding: 0 20px;
    height: 400px;
    width: 100px;
    position: absolute;
    top: 0px;
    font-size: 30px;
}

.list-container {
    padding: 0 0;
    list-style-type: none;
}

.link-container {
    margin: 7px 0;
}

#activelink {
    color: var(--link-active-color)
}

.content-container {
    position: relative;
    text-align: center;
    max-width: 50%;
    margin: auto;
    font-size: 30px;
}

.socials-container {
    position: fixed;
    text-align: center;
    font-size: 50px;
    margin: auto;
    top: 20px;
    right: 15px;
    padding-right: 15px;
}